// Colors

$bg-color-gray: #9e9bba;
$bg-color-midgray: #dcdce0;
$bg-color-white: #f9f9f9;
$bg-color-offwhite: #f0f0f0;
$text-color-gray: #385b73;
$color-red: #f65555;

// Fonts
$text-size-small: 14px;
$text-size-regular: 16px;
$text-size-large: 24px;
// Margins
$mg-small: 0.5rem;
$mg-medium: 1rem;
$mg-large: 2rem;
$mg-xl: 8rem;
