@import "variables";
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: $text-size-regular;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: $bg-color-midgray;
	color: $text-color-gray;
}

a {
	text-decoration: none;
}

h1,
h2 {
	font-size: $text-size-large;
}
