@import "variables";

.Navbar {
	width: 100vw;
	overflow: hidden;
	height: $mg-xl;
	display: flex;
	padding: 0 $mg-xl;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.Logo {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.searchBarContainer {
	display: flex;
	padding: $mg-xl;
	flex-direction: column;
	align-items: flex-end;
	gap: 1em;
	flex: 1 0 0;
}
¨ .searchBar {
	display: flex;
	padding: 1rem 200px 1rem 2rem;
	align-items: center;
	gap: 24px;

	border-radius: 1rem;
	border: 2px solid $bg-color-gray;
	background: $bg-color-white;
}
