@import "variables";

.Navbar {
	width: 100%;
	height: $mg-xl;
	display: flex;
	padding: 0 $mg-xl;
	align-items: center;
	flex-shrink: 0;
}

.Logo {
	display: flex;
	align-items: center;
	gap: 2rem;
}
