@import "../variables";

.picker {
	display: flex;
	padding: 1.5rem 7rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;
}

.gridContainer {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1.25rem;
}

.card {
	display: flex;
	width: 10rem;
	height: 10rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 1.25rem;
	border: 2px solid $bg-color-gray;
	background-color: rgba(249, 249, 249, 0.5);
}
.cardSelected {
	display: flex;
	width: 10rem;
	height: 10rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 1.25rem;
	border: 8px solid $color-selected;
	background-color: rgba(249, 249, 249, 0.5);
}

.pagenation {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem;
	align-self: stretch;
	margin-top: 1rem;
}

.buttonNext {
	display: flex;
	padding: 12px 16px;
	align-items: center;

	border-radius: 12px;
	border: 2px solid $bg-color-gray;
	background-color: $bg-color-white;
}
