@import "../variables";

.picker {
	display: flex;
	padding: 1.5rem 7rem;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	align-self: stretch;
}

.gridContainer {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1.25rem;
}

.card {
	display: flex;
	width: 10rem;
	height: 10rem;
	flex-direction: column;

	border-radius: 1.25rem;
	border: 2px solid $bg-color-gray;
}
