.card{
    margin: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number{
    position: relative;
    font-weight: 900;
    right: 20px;
}

.name{
   text-transform: uppercase;
   color: var(--accent-color);
   font-weight: 900;
}