.card{
    margin: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card :hover{

   background-color: var(--light-color);
   border-radius: 1em;
}

.number{
    position: relative;
}

.name{
   text-transform: uppercase; 
}