@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap');

:root{
  --bg-color: #003a70;
  --light-color: #3d7dca;
  --accent-color: #ffcb05;
  --text-color: #ffffff;

}

* {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: "Lato";
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 900;
}

.pokegrid{
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
}

.pokegrid :hover {
   background-color: var(--light-color);
   border-radius: 1em;
}